html, body, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .leaflet-container {
    height: 100% !important;
    width: 100% !important;
  }
.App { height: 100vh; width: 100vw; display: flex; flex-direction: column; }
.header { height: 60px; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; border-bottom: 1px solid #eee; background: #fff; z-index: 1000; }
.logo { font-weight: 900; }
.menu-icon { cursor: pointer; font-size: 20px; }
.admin-badge { background: #e74c3c; color: #fff; padding: 5px 10px; border-radius: 5px; font-size: 12px; }
.leaflet-tile-pane { filter: grayscale(100%) brightness(1.05); }

/* Модалка */
.modal-overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center; z-index: 2000; }
.modal-content { background: #fff; padding: 25px; border-radius: 15px; width: 320px; display: flex; flex-direction: column; }
.modal-input { margin: 10px 0; padding: 10px; border: 1px solid #ddd; border-radius: 8px; }
.modal-buttons { display: flex; gap: 10px; }
.btn-send { background: #000; color: #fff; border: none; flex: 1; padding: 10px; border-radius: 8px; cursor: pointer; }

/* Попап админа */
.popup-custom { font-family: sans-serif; }
.admin-btns { display: flex; flex-direction: column; gap: 5px; margin-top: 10px; }
.admin-btns button { cursor: pointer; padding: 5px; border: 1px solid #ddd; border-radius: 4px; background: #f9f9f9; }
.del-btn { color: #e74c3c; }